<div ng-if="!currentUser" class="container">
  <div class="row">
    <h2>Welcome on Cirrus home page</h2>
    <p>You are on the landing page of Cirrus, your ultimate internet and service provider</p>
    <p>Please login or create an account</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
  </div>
</div>

<div ng-if="currentUser" class="container">
  <div class="row">
    <h2>Welcome - {{ currentUser.email }}</h2>
    <p>Please subscribe to one of the plans :</p>

    <div class="col-md-4">
      <h3>Free package</h3>
      <ul>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
      </ul>
      <button type="button" class="btn btn-success">Subscribe</button>
    </div>

    <div class="col-md-4">
      <h3>Medium package</h3>
      <ul>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
      </ul>
      <button type="button" class="btn btn-success">Subscribe</button>
    </div>
    <div class="col-md-4">
      <h3>Gold package</h3>
      <ul>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
        <li>aaaaaaa</li>
      </ul>
      <button type="button" class="btn btn-success">Subscribe</button>
    </div>


  </div>
</div>
