<div class="container" ng-controller="RegisterCtrl">
  <div class="col-md-6 col-md-offset-3">
    <h2>Create your Cirrus account</h2>
    <form name="registerForm" ng-submit="createAccount()">
      <div class="form-group">
        <label for="inputEmail">Email address:</label>
        <input type="email" class="form-control" placeholder="Email" id="inputEmail" name="inputEmail" ng-model="inputEmail" required>
      </div>
      <div class="form-group">
        <label for="inputPassword1">Password:</label>
        <input type="password" class="form-control" placeholder="Password" id="inputPassword1" name="inputEmail" ng-model="inputPassword1" required>
      </div>
      <div class="form-group">
        <label for="inputPassword2">Confirm password:</label>
        <input type="password" class="form-control" placeholder="Password" id="inputPassword2" name="inputPassword2" ng-model="inputPassword2" pw-check="inputPassword1" required>
        <span class="help-block" ng-show="registerForm.inputPassword2.$error.match">Passwords do not match.</span>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <span class="text-danger">{{ errorMessage }}</span>
    </form>
  </div>
</div>
